:root {
  --blue: #4c78aa;
  --dark_blue: #2c588a;
  --orange: #eb7531;
  --dark_orange: #cb5711;
}

body {
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafafa;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

button {
  border: none;
  background-color: var(--blue);
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--orange);
}

button:active {
  background-color: var(--dark_orange);
}

header {
  background-color: #fff;
  padding: 10px 14%;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}

header button {
  background-color: inherit;
}

header button:hover {
  background-color: inherit;
}

header img {
  width: 120px;
  margin-top: 8px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

nav button {
  flex: 1;
}

#login {
  padding: 20px;
  background-color: #eaeaea;
  border-radius: 10px;
  margin: 20px auto;
  width: 100%;
  max-width: 300px;
}

#login h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

#login label {
  display: block;
  margin-bottom: 5px;
}

#login input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#login button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

#login-error-message {
  color: red;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  display: none;
  text-align: center;
}

#options {
  display: none;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}

#options button {
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
}

#options nav button {
  margin: 0 6px;
}

#options .disabled-button {
  opacity: 0.5;
  background-color: var(--dark_blue);
  cursor: default;
}

#options h2 {
  margin-top: 20px;
}

#options label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

#options select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#options #piece-image {
  width: 50px;
  height: auto;
}

#options #piece-toggle-button {
  background-color: white;
  padding: 0;
  margin-top: 10px;
}

#options #difficulty-div {
  display: none;
}

#game {
  display: none;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

#game button {
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
}

#game nav button {
  margin: 0 6px;
}

#game h2 {
  margin-left: 8px;
}

#game-info-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 10px;
}

#game-info-div p {
  margin: 0;
  padding: 5px;
  flex-grow: 1;
}

#game-info-div p strong {
  margin-right: 10px;
  white-space: nowrap;
}

#game #board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 40px 0;
}

#board-and-pieces{
  display: flex;
  justify-content: center;
  align-items: center;
}

#game .piece-image{
  width: 40px;
  height: 40px;
}

#game .piece{
  display: inline;
  margin: 0;
  padding: 0;
}

#game .piece-set{
  max-width: 175px;
  padding: 0 30px ;
  margin: 0;
}

#game .cell {
  margin: 0;
  padding: 0;
  border: 1px solid #000; 
  border-radius: 0;
  display: inline-flex;
  font-size: 24px;
}

#game .piece {
  width: 100%; 
  height: 100%; 
  transition: transform 0.3s;
}

#leaderboard-popup,
#rules-popup,
#settings-popup,
#winner-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #fff;
  padding: 20px;
  width: 30%;
  height: 30%;
  overflow-y: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.popup-content button {
  color: black;
  font-size: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 5px 0;
}

.popup-title {
  display: inline;
}

#leaderboard-popup-close,
#rules-popup-close,
#settings-popup-close,
#winner-popup-close {
  font-size: 24px;
  font-weight: bold;
  display: block;
  cursor: pointer;
  float: right;
}

#rules {
  margin-bottom: 26%;
}

#rules-buttons-container {
  width: 30%;
  position: absolute;
  bottom: 33%;
  padding-bottom: 10px;
  padding-top: 5px;
  background-color: #fff;
}

#rules-next-button,
#rules-prev-button {
  margin-right: 10px;
  padding: 10px 24px;
  background-color: #ddd;
  transition: background-color 0.3s ease;
}

#rules-next-button:hover,
#rules-prev-button:hover {
  background-color: #ccc;
}

#winner-popup p {
  width: 100%;
  height: 60%;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
